<%= javascript_pack_tag 'items_import' %>

<h1>Import Items From Excel</h1>

<p>
  Note: Only import spreadsheets that were previously downloaded from this
    application.
</p>

<h3>Requirements</h3>
<ul>
  <li>Here you could list the validations you have in place for your model</li>
  <li>That way your user has a better chance of successful import</li>
</ul>

<h3>Select File</h3>

<%= form_for [:assignment, @items_import], remote: true do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "Import File" %>
<% end %>

<br />

<table class="table table-hover table-striped table-sm" id="jsTable">
  <thead class="thead" id="addTable">
    <tr>
      <th>內容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>

<br />

<div id="dataTable"></div>
