<% content_for :page_title,  "lab_forum" %>

<div class="container">
  <h1><%= t('lab_forum.all_qs') %></h1>
  <h4><%= link_to t('lab_forum.add_q'), '#forum-modal', data: {toggle: 'modal'}, class: 'btn btn-link' %></h4>
  <%= render 'cards' %>
</div>

<div class="modal fade" id="forum-modal">
  <%= render 'modal', form_type: LabForum.new, url: lab_forum_index_path %>
</div>
