<%#= render 'layouts/carousel' %>

<div class="site-section">
    <div class="container">
    <div class="row align-items-center">

        <div class="col-md-4">
        <h2 class="h4 mb-4">About Me</h2>
        <p>
          I was graduated from NTPU for my bachelor degree, and NCHU for my master degree. I majored in EE, but I love software more.
        </p>
        <p>I learned Ruby on Rails since January 2019. Ruby on Rails is the first backend framework I learned.</p>
        <p>I have an work experience for about 4 months.</p>
        <p><a href="https://github.com/ChenHanTing/note" class="btn btn-primary text-white px-5">My notes</a></p>
        </div>

        <div class="col-md-4">
        <h2 class="h4 mb-4">My expertise and skills</h2>

        <div class="progress-wrap mb-4">
            <div class="d-flex">
            <span>Html, CSS, Bootstrap</span>
            <span class="ml-auto">5%</span>
            </div>
            <div class="progress rounded-0" style="height: 7px;">
            <div class="progress-bar" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="progress-wrap mb-4">
            <div class="d-flex">
            <span>javascript, jQuery</span>
            <span class="ml-auto">20%</span>
            </div>
            <div class="progress rounded-0" style="height: 7px;">
            <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="progress-wrap mb-4">
            <div class="d-flex">
            <span>Git, Source Tree</span>
            <span class="ml-auto">37%</span>
            </div>
            <div class="progress rounded-0" style="height: 7px;">
            <div class="progress-bar" role="progressbar" style="width: 37%;" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="progress-wrap mb-4">
            <div class="d-flex">
            <span>MySQL</span>
            <span class="ml-auto">42%</span>
            </div>
            <div class="progress rounded-0" style="height: 7px;">
            <div class="progress-bar" role="progressbar" style="width: 42%;" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="progress-wrap mb-4">
            <div class="d-flex">
            <span>Ruby on Rails</span>
            <span class="ml-auto">60%</span>
            </div>
            <div class="progress rounded-0" style="height: 7px;">
            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-md-4">
        </div>
      </div>
    </div>
    </div>
</div>
