// Place all the styles related to the forum/lab_forum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 縮排
.q, .d, .user, .category, .create, .update {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0;
}

// bootstrap
.card {
  margin: 5px;
}

.thumb{
  background:#fff;
  color: black;
}

.thumb_clicked{
  background:#fff;
  color: blue;
}

.heart_clicked{
  background:#fff;
  color: rgb(255, 0, 0);
}
