<div class="container">
  <h2>HTML Forms</h2>

  <form action="/name" accept-charset="UTF-8" method="post" data-remote="true">
    First name:
    <input type="text" name="name[firstname]" value="Chen"><br>
    Last name:
    <input type="text" name="name[lastname]" value="Han-Ting"><br><br>
    <div id="fullname"></div>
    <input type="submit" value="Submit">
  </form>

  <br><br>

  <form action="/username" accept-charset="UTF-8" method="get">
    User name:
    <input type="text" name="username" value="Han"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
