@import "bootstrap";
@import "font-awesome";

@import "rooms";
@import "room_messages";

@import "resume";
@import "staticpages";
@import "assignment/todos";
@import "admin/lab_forum";

// for TempusDominus
@import "tempusdominus-bootstrap-4.css";

.navbar {
    margin-bottom: 20px;
  }

.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}